/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bg{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1500px;
	height: 300px;
	background-color: #A9A9A9;
	position: relative;
}


.Suratigitaris{
	background-image: url(../pics/1.png);
	width: 700px;
	height: 300px;	
	background-repeat: no-repeat;
	margin-top: 5px;		
	position: absolute;
	top:0;
	left: ;
}

.p{
	font-family: 'DejaVu Sans';
	font-size: 100px;
	color: #008B8B;
	position: absolute;
	top: 100px;
	left:800px;	
	-webkit-transition: all .9s linear;	
	-o-transition: all .9s linear;	
	transition: all .9s linear;
}

.p:hover{
	color: lightblue;
	-webkit-animation: wo .9s infinite;
	        animation: wo .9s infinite;
}

.p1{
	font-family: 'BPG Rioni Vera';
	font-size: 30px;
	color: #008B8B;
	position: absolute;
	top: 250px;
	left:600px;
}

.form{
	position: absolute;
	top: 10px;
	left:10px;
}

.button{
	background-color: #008B8B;
}

.query{
	color: #008B8B;
}

.social{
	font-size: 30px;
	color: #008B8B;
	position: absolute;
	top: 10px;
	right:10px;
}

.ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 15px;
	list-style: none;	
}

.va{
	font-family: 'DejaVu Sans';
	font-size: 25px;
	color: #008B8B;
	border: ridge;
	margin-right: 15px;
	padding: 2px 4px;
}

a{
	text-decoration: none!important;
}

a:hover {
	color: lightblue;
}

@-webkit-keyframes wo {
	from {color: #008B8B;}
	to {color: white;}
}

@keyframes wo {
	from {color: #008B8B;}
	to {color: white;}
}

.row{
	margin-top: 50px;
}

.article2{
	border: solid;
	margin-bottom: 30px;
}

.pic1{
	width:600px;
	padding-top: 5px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.r{
	border: solid;
}

iframe{
	padding-left: 20px;
    border-width: 0px;
}

.ar{
	font-family: 'DejaVu Sans';
	text-align: center;
	padding-top:5px;
	color: #A9A9A9;
}

.article1{
	margin-bottom: 30px;
}

.pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.bg1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 1500px;
	height: 300px;
	background-color: #A9A9A9;
}

